/** Base **/

* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
  color: #434455;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  width: 100%;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

/** General **/

.container {
  max-width: 320px;
  margin: 0 auto;
  padding: 0 16px;
}

::placeholder {
  color: #ffffff;
}

.close-button {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-button:hover,
.close-button:focus {
  border: none;
  background-color: #404bbf;
}

.close-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-button:hover .close-icon {
  fill: #ffffff;
}

.close-button:focus .close-icon {
  fill: #ffffff;
}

/** Header **/

.header-section {
  padding: 0px 15px;
  display: flex;
  justify-content: center;
}

.navigation-menu {
  display: flex;
  align-items: center;
}

.mobile-menu {
  padding: 20px 0px;
  display: none;
}

.navigation-menu-elements {
  display: flex;
  flex: 1;
  justify-content: space-between;
}

.navigation-menu-list {
  display: flex;
  gap: 40px;
}

.navigation-menu-item {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding-top: 24px;
  padding-bottom: 24px;
  display: block;
  color: #2e2f42;
}

.navigation-menu-item-active {
  color: #404bbf;
  position: relative;
}

.navigation-menu-item-active::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  border-radius: 2px;
  width: 100%;
  height: 4px;
  background: #404bbf;
}

.navigation-menu-contacts {
  display: flex;
  align-items: center;
}

.navigation-menu-contacts-list {
  display: flex;
  gap: 40px;
}

.navigation-menu-contacts-item {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
}

.navigation-menu-contacts-item a {
  color: #434455;
}

.header-site-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
}

.header-site-logo-studio {
  color: #2e2f42;
}

/** Section 1 **/

.hero-image-section {
  box-sizing: content-box;
  background: #2e2f42;
  padding: 72px 0px;
  background-image: url(../images/people-office1.jpg);
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-image-section-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 70px;
}

.hero-image-header {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  letter-spacing: 0.02em;
  text-align: center;
  color: #ffffff;
  max-width: 350px;
  margin-bottom: 48px;
}

.order-service-button {
  background-color: #4d5ae5;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  border-radius: 4px;
  padding: 16px 32px;
  width: 180px;
  height: 56px;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order-service-button:hover {
  background-color: #404bbf;
  cursor: pointer;
}

.order-service-button:focus {
  background-color: #404bbf;
}

/** Section 2 **/

.second-section {
  display: flex;
  padding: 120px 0;
  justify-content: center;
}

.second-section-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 15px;
}

.second-container-ul {
  display: flex;
  flex-direction: column;
  gap: 72px;
  max-width: 550px;
  width: 100%;
}

.second-container-li {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.second-container-li-header {
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
}

.second-container-li-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #434455;
}

.second-container-li-icon {
  display: none;
}

.icons {
  background-image: url(../);
}

/** Section 3 **/

.third-section {
  background-color: #f4f4fd;
  padding: 120px 0;
}

.third-section-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 15px;
}

.third-section-header {
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 72px;
}

.third-section-list {
  display: flex;
  flex-direction: column;
  gap: 72px;
}

.third-section-list-element {
  display: flex;
  flex-direction: column;
  gap: 32px;
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  padding-bottom: 32px;
  align-items: center;
}

.third-section-list-image {
  max-width: 300px;
}

.third-section-team-member {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.third-section-team-member-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}

.third-section-team-member-title {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
}

.third-section-team-member-social-networks {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 24px;
}

.third-section-team-member-social-network {
  width: 40px;
  height: 40px;
}

.third-section-team-member-social-network-icon {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: white;
}

.third-section-team-member-social-network-icon:hover {
  background-color: #404bbf;
}
.third-section-team-member-social-network-icon:focus {
  background-color: #404bbf;
}

.icon {
  fill: #f4f4fd;
}

/** Section 4 **/

.portfolio-section {
  display: flex;
  flex-direction: column;
  gap: 60px;
  padding: 120px 0;
  align-items: center;
}

.portfolio-section-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 15px;
}

.portfolio-section-header {
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 72px;
}

.portfolio-section-list {
  display: flex;
  flex-direction: column;
  gap: 50px;
  max-width: 550px;
  width: 100%;
  text-align: center;
}

.portfolio-section-list-item {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-section-list-item-card {
  position: relative;
  overflow: hidden;
}

.portfolio-section-new-information {
  position: absolute;
  padding: 40px 32px;
  top: 0;
  background-color: #4d5ae5;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}

.portfolio-section-list-item:hover .portfolio-section-new-information {
  transform: translateY(0%);
}

.portfolio-section-list-item-details {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
  align-items: flex-start;
}

.portfolio-section-list-item-details-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.portfolio-section-list-item-details-content {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #434455;
}

/** Footer **/

.footer-section {
  display: flex;
  padding: 90px 15px;
  background: #2e2f42;
  justify-content: center;
}

.footer-section-container {
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.footer-section-title {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 550px;
}

.footer-section-title a {
  font-family: "Raleway";
  text-align: center;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.footer-section-title-studio {
  color: #f4f4fd;
}

.footer-section-title-body {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}

.footer-section-social-medias {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer-section-social-medias-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #fff;
  text-align: center;
}

.footer-section-social-medias-list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 16px;
}

.footer-section-social-media-item {
  width: 40px;
  height: 40px;
}

.footer-section-social-media-item-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: white;
}

.footer-section-social-media-item-link:hover {
  background-color: #31d0aa;
}

.footer-section-social-media-item-link:focus {
  background-color: #31d0aa;
}

.footer-section-subscription {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.footer-section-subscription-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #fff;
  text-align: center;
}

.footer-section-subscription-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.footer-section-subscription-form-input {
  border: 1px solid #fff;
  border-radius: 4px;
  width: 264px;
  height: 40px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  font-weight: 400;
  font-size: 12px;
  line-height: 200%;
  letter-spacing: 0.04em;
  color: #fff;
  background: #2e2f42;
  background-color: transparent;
  padding-left: 16px;
  opacity: 0.3px;
}

.footer-section-subscription-form-button {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.04em;
  color: #fff;
  border-radius: 4px;
  padding: 8px 24px;
  width: 165px;
  height: 40px;
  background: #4d5ae5;
  cursor: pointer;
  border: none;
}

.footer-section-subscription-form-button:hover {
  background-color: #404bbf;
  cursor: pointer;
}

.footer-section-subscription-form-button:focus {
  background-color: #404bbf;
}

.footer-section-subscription-form-button-icon {
  margin-left: 16px;
  fill: #fff;
}

/** Modal window **/

.modal-window-container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-window-container.is-open {
  display: block;
}

.modal-window {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 408px;
  min-height: 584px;
  background: #fcfcfc;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 72px 24px 24px 24px;
}

.modal-window-paragraf {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 16px;
}

.modal-window-form-input-field-section {
  margin-bottom: 8px;
}

.modal-window-form-field-label {
  font-weight: 400;
  font-size: 12px;
  line-height: 117%;
  letter-spacing: 0.04em;
  color: #8e8f99;
  margin-bottom: 4px;
  align-items: center;
  display: block;
}

.modal-window-form-field-input {
  position: relative;
}

.modal-window-form-input-element {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-window-form-input-element:focus {
  border: 1px solid #4d5ae5;
}

.modal-window-form-element-icon {
  fill: #2e2f42;
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-window-form-input-element:focus + .modal-window-form-element-icon {
  fill: #4d5ae5;
}

.modal-window-form-comment-section {
  margin-bottom: 16px;
}

.modal-window-form-comment-element {
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-window-form-comment-element::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16667;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}

.modal-window-form-comment-element:focus {
  border-color: #4d5ae5;
}

.modal-window-form-user-privacy-section {
  margin-bottom: 24px;
  flex-wrap: wrap;
}

.modal-window-form-privacy-accept-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.modal-window-form-privacy-policy {
  height: 16px;
  width: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  justify-content: center;
  fill: transparent;
  align-items: center;
  margin-right: 8px;
  border: none;
}

.modal-window-form-privacy-policy-link {
  color: #4d5ae5;
}

.checkbox:checked + .modal-window-form-privacy-accept-label span {
  color: #4d5ae5;
  border: none;
  background-color: #404bbf;
  fill: #f4f4fd;
}

.modal-window-form-send-button {
  border-radius: 4px;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
  cursor: pointer;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: block;
  margin: 0 auto;
}

.modal-window-form-send-button:hover {
  background-color: #404bbf;
  cursor: pointer;
}

.modal-window-form-send-button:focus {
  background-color: #404bbf;
}

@media screen and (max-width: 767px) {
  .mobile-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 550px;
  }

  .navigation-menu {
    display: none;
  }

  .header-modal-window-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
      visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    z-index: 100;
  }

  .header-modal-window-container.is-open {
    display: block;
  }

  .header-modal-window {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background: #fcfcfc;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
      0 2px 1px 0 rgba(0, 0, 0, 0.2);
    padding: 72px 24px 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .header-modal-window-menu {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  .header-modal-window-menu-item {
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    letter-spacing: 0.02em;
    color: #2e2f42;
  }

  .header-modal-window-menu-item-active {
    color: #404bbf;
  }

  .header-modal-window-all-contacts {
    display: flex;
    flex-direction: column;
    gap: 60px;
  }

  .header-modal-window-contacts-list {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  .header-modal-window-contacts-item {
    font-weight: 500;
    font-size: 20px;
    font-style: normal;
    line-height: 24px;
    letter-spacing: 0.02em;
  }

  .header-modal-window-contacts-phone {
    color: #404bbf;
  }

  .header-modal-window-contacts-email {
    color: #434455;
  }

  .header-modal-window-socials {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    gap: 40px;
  }

  .header-modal-window-socials-item {
    width: 40px;
    height: 40px;
  }

  .header-modal-window-socials-item-link {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    fill: white;
  }

  .modal-window {
    width: 90%;
    max-width: 550px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1157px) {
  .container {
    max-width: 768px;
  }

  .navigation-menu {
    width: 700px;
  }

  .navigation-menu-contacts-list {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  .hero-image-section {
    padding: 112px 0;
  }

  .hero-image-header {
    margin-bottom: 32px;
    font-size: 56px;
    line-height: 1.07;
    max-width: 496px;
  }

  .navigation-menu-contacts-item {
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.04em;
  }

  .second-container-ul {
    flex-direction: row;
    gap: 72px 24px;
    max-width: 1000px;
    flex-wrap: wrap;
    justify-content: center;
  }

  .second-container-li {
    flex: 48%;
    max-width: 356px;
  }

  .second-container-li-header {
    text-align: left;
  }

  .third-section-list {
    flex-direction: row;
    gap: 64px 24px;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 600px;
  }

  .third-section-list-element {
    flex: 48%;
    max-width: 264px;
  }

  .portfolio-section-list {
    flex-direction: row;
    gap: 64px 24px;
    flex-wrap: wrap;
    max-width: 1000px;
    justify-content: center;
  }

  .portfolio-section-list-item {
    flex: 48%;
    max-width: 356px;
  }

  .footer-section-container {
    flex-direction: row;
    gap: 20px;
    flex-wrap: wrap;
    width: 600px;
  }

  .footer-section-title {
    flex: 48%;
    align-items: flex-start;
  }

  .footer-section-social-medias {
    flex: 48%;
    align-items: flex-start;
  }

  .footer-section-subscription {
    flex: 1;
    align-items: flex-start;
    margin-top: 40px;
  }

  .footer-section-subscription-form {
    flex-direction: row;
    gap: 40px;
  }

  .footer-section-subscription-form-input {
    width: 270px;
  }
}

@media screen and (min-width: 1158px) {
  .navigation-menu {
    width: 1110px;
  }

  .hero-image-section {
    padding: 188px 0;
  }

  .hero-image-header {
    font-size: 56px;
    line-height: 60px;
    margin-bottom: 48px;
    max-width: 500px;
  }

  .second-container-ul {
    flex-direction: row;
    gap: 20px;
    max-width: 100%;
    justify-content: center;
  }

  .second-container-li {
    width: 264px;
  }

  .second-container-li-text {
    font-weight: 400;
  }

  .second-container-li-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px;
    margin-bottom: 8px;
    border: 1px solid #8e8f99;
  }

  .second-container-li-header {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    text-align: left;
  }

  .second-container-li-text {
    font-weight: 400;
  }

  .third-section-list {
    flex-direction: row;
    gap: 24px;
  }

  .third-section-list-element {
    flex: 48%;
    max-width: 264px;
  }

  .portfolio-section-list {
    flex-direction: row;
    column-gap: 30px;
    gap: 64px 24px;
    flex-wrap: wrap;
    max-width: 1200px;
    justify-content: center;
  }

  .portfolio-section-list-item {
    flex: 48%;
    max-width: 356px;
  }

  .footer-section-container {
    flex-direction: row;
    max-width: 1110px;
  }

  .footer-section-title {
    align-items: flex-start;
  }

  .footer-section-social-medias {
    align-items: flex-start;
  }

  .footer-section-subscription {
    align-items: flex-start;
  }

  .footer-section-subscription-form {
    flex-direction: row;
  }
}
