/** Base **/

* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
  color: #434455;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  width: 100%;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

/** General **/

.container {
  max-width: 320px;
  margin: 0 auto;
  padding: 0 16px;
}


/** Section 1 **/

.advertisement {
  box-sizing: content-box;
  background:  #ffffff;
  padding: 72px 0px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.advertisement-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  }

.advertisement-text {
  font-family: "Inter Tight", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  text-align: left;
  color: black;
  max-width: 350px;
  margin-bottom: 48px;
  text-shadow: dodgerblue;
}

